<div class="container edit-user-identifier">
  <p class='edit-user-head'>Edit <%= resource_name.to_s.humanize %></p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :updated_at, value: DateTime.current %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
        <div class="avatar-div">
          <% if resource.avatar.attached? %>
          <%# rails_representation_url(resource.avatar.variant(resize: "300x300"), only_path: true) %>
            <%#= image_tag resource.avatar.variant(resize_and_pad: [100,100, gravity: 'north', background: :transparent]), class: 'rounded-circle' %>
            <%= image_tag resource.avatar, class: 'avatar-lg' %>
          <% else %>

           <% if  gravatar_image_url(current_user.email) != "http://gravatar.com/avatar/3314c35d12993a5b2f39e0a5a66536f9" %>
            <%= image_tag gravatar_image_url(current_user.email, size:140), class: 'avatar-lg' %>
          <% else %>
          <!-- if user doesn't have a gravatar, use default image  -->
            <%= image_tag "bear", height:140, width:140, class: 'avatar-lg' %>
           <% end  %>
          <% end %>
        </div>
        <div class="choose">
        <!--   <input type="file" name="file">
    <input type="submit" value="Upload File" name="submit"> -->
          <p><%= f.file_field :avatar, direct_upload: true, id:'file'  %>
          <label for="file">Choose a file</label>
          <%= resource.avatar.filename %> </p>
        </div>
      </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :current_password %> <div class='user-paren'>Required to confirm changes</div>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <%= f.label :new_password %> <div class='user-paren'>Leave blank to keep current password</div>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :new_password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" , id:"update-user-changes" %>
    </div>
  <% end %>

  <div id='delete-account-div'>
    <div class='delete-text'>Delete my account</div><div><%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id:'delete-acct-btn' %></div>
  </div>


</div>
</div>
