<p><%= @greeting %> <%= @user[0].username %>,</p>

<%= sentence_ending = "" %>
<% case @others.length %>
  <% when 0 %>
  <%  sentence_ending = "." %>
  <% when 1 %>
  <%  sentence_ending = ", along with #{@others[0]}."  %>
  <% when 2 %>
  <%  sentence_ending = ", along with #{@others[0]} and  #{@others[1]}."  %>
<% end %>

<p><%= @sender.username %> has invited you to a game of Scrooble<%= sentence_ending %></p>

<p><a href=<%=@url%>>Click here to join the game.</a></p>

<p>Assiduously,<br>
Dave<br>
Head Screwball<br>
Scrooble</p>
