 <%#= turbo_frame_tag "game" do %>

  <!--  <div class='board board-hide col-12' id="board" data-animate-out="animate-fade" data-letter-grid="<%= @game.letter_grid %>" data-jokers="<%= @game.jokers %>" >
    </div> -->
  <%# end %>

 <div class='board board-hide' id="board" data-animate-out="animate-fade" data-letter-grid="<%= @game.letter_grid %>" data-jokers="<%= @game.jokers %>" >

    <% provisional_move = Move.find_by(provisional: true) %>
    <% prov_letters = Letter.where(move: provisional_move) %>

  <% for i in 0...225  %>
    <% char = "" %>
    <% prov_class  = "" %>
    <% if @letters.length > 0 %>
    <% prov_class  = "" %>
      <% @letters.each do |letter| %>


        <% if provisional_move.present? %>
          <% prov_letters.each do |ltr| %>
            <% if ltr == letter %>
              <%# prov_class  = " letter-provisional" %>
            <% end %>
          <% end %>
        <% end %>

        <% if (letter.position == i) %>
          <% char = letter.character %>
        <% end %>

      <% end %>
      <% end %>

      <div class='tile tile-hide'>
        <div class="letter <%= prov_class %>"><%= char %></div>
        <div class="board-value"></div>
      </div>

  <% end %>
</div>
