<div class="create-page-identifier" data-userid = <%= current_user.id %>>
  <div class = "new-game-head">New Game Created!</div>
  <p>Game name: <span class= 'new-game-name'><%= @game.name %></span></p>
  <p>An eminently fair, unbiased, disinterested and WGAF roll of the virtual dice has mandated the following order of play:</p>
  <div class='announce-players'>
    <% @ran_array.each_with_index do | idString, index |  %>
      <p><span><%= index + 1 %>. </span> <%= User.find(idString.to_i).username %></p>
    <% end %>
  </div>
    <% plural = ""%>
    <% plural = "s" if @ran_array.length > 2 %>
    <p>Here is a link to invite your opponent<%= plural %> to the game</p>
    <div id="new-game-btn" class="new-game-btn">Copy game link to clipboard</div>
    <%= link_to edit_game_path(@game) do %>
      <div class='new-game-btn'>Go to <%= @game.name %></div>
    <% end %>
    <%= link_to "/" do %>
      <div class='new-game-btn'>Go to My Games</div>
    <% end %>

  </div>
</div>

       <p id="gamelink">http://scroobleapp.herokuapp.com/<%= edit_game_path(@game) %></p>

