<div class="row edit-page-identifier">
  <div class="col-2 pr-0" id="dashboard">
    <div>
    <h5 class='px-3'><%= @game.name %></h5>
    <div id="last">
      Last Updated <br/><%= @date %>

    </div>
    <div id='scores' data-scores="<%= @game.scores %>" data-current="<%= @game.current_player %>" >
    </div>
    </div>
    <div id="my-letters"></div>
    <div id="controls">
      <button id='commit-btn' class="btn btn-sm btn-primary w-50">Commit</button>
      <button id='cancel-btn' class="btn btn-sm btn-warning w-50">Cancel</button>
    </div>
  </div>
  <div class='col-10' id="board" data-letter-grid="<%= @game.letter_grid %> " >
  </div>
</div>
