
  <div id="messages" class = "messages" data-game-id=<%= @game.id %>>
      <%#= render 'message'  %>
    </div>


<div class="edit-page-identifier" data-name ="<%= @game.name %>" data-playername= "<%= current_user.username %>"  >




  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">

        <button id="close-modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%#= @game.remaining_letters %>
<% if @player.completed %>

<% else %>
<div class="pr-0 dashboard dashboard-hide" data-current = <%= @game.current_player %> data-animate-out="animate-slide-left" id="dashboard" data-name ="<%= @game.name %>" data-id ="<%= @game.id %>" data-url ="games/<%= @game.id %>/edit" data-remaining =  "<%= @game.remaining_letters %>" data-jokers =  "<%= @game.jokers %>" data-completed =  "<%= @player.completed %>">


    <div id="scores-buttons">

    <!-- <div data-controller="online-list" data-online-list-sound="insistentHarp.mp3"> -->
      <%= audio_tag "m1", id: "btnAudio" %>
      <!-- <button data-action="online-list#playSound" data-online-list-target="trigger" >Play</button> -->
    <!-- </div> -->

    <div id="controls">
      <%#= turbo_frame_tag "edit_form_tag" %>
        <%= render 'edit_form', game:@game %>
      <%# end %>


       <%= form_with(model: @game, id: "update-game", action: edit_game_path(@game), remote: true) do |f| %>
      <%=f.hidden_field :current_player, id:'update-current' %>
        <%=f.hidden_field :completed, value: false, id:'update-completed'  %>
        <%=f.hidden_field :player_completed, value: false, id:'update-player-completed'  %>
        <%=f.hidden_field :letter_grid, id:'update-grid' %>
        <%=f.hidden_field :jokers, id:'update-jokers' %>
        <%=f.hidden_field :my_score, id:'update-score' %>
        <%=f.hidden_field :msg, value: 'dsfdsdsfds', id:'update-msg' %>
        <%=f.hidden_field :my_letters, id:'update-letters' %>
        <%=f.hidden_field :remaining_letters, id:'update-remaining' %>
      <% end %>


      <div id = "buttons">
        <button id='commit-btn' class="commit-btn button-disabled"><i class="fas fa-check"></i></button>
        <button id='cancel-btn' class="cancel-btn button-disabled"><i class="fas fa-ban"></i></button>
        <button id='exchange-btn' class="exchange-btn button-disabled"><i class="fas fa-exchange-alt"></i></button>
       <button id='end-btn' class="end-btn "><i class="fas fa-hand-paper"></i></button>
      </div>

    </div>
  </div>

<% end %>


    <!-- <div id='scores' data-current="<%= @game.current_player %>" data-username = "<%= current_user.username %>"data-player-id = "<%= current_user.id %>" > -->

    <!-- <div id='scores' > -->
      <% players  = Player.where(game_id: @game.id).order(:id) %>

      <% players.each_with_index do | player, index | %>
        <% name_score_classes = "name-score" %>
        <% player_classes = "player" %>
        <% if player.user == current_user %>
           <% player_classes.concat(" this-user") %>
        <% end %>
        <% if  @game.current_player == index %>
          <% name_score_classes.concat(" player-selected") %>
        <% end %>

        <!-- <div id = "<%#= player.id %>" class = "<%= name_score_classes %>"> -->
         <!--  <div class="<%#= player_classes %>"><%= player.user.username %></div>
          <div class="score"><%#= player.player_score %></div> -->
        <!-- </div> -->
      <% end %>

    <!-- </div> -->
    <% players.each do | player | %>
      <% if player.user == current_user %>
        <div id="my-letters" data-player-letters = "<%= player.player_letters %>">

        </div>
      <% end %>
    <% end %>

  </div>


<%#= turbo_stream_from "games" %>
<%#= turbo_frame_tag "game" do %>
  <%= render "board", game:@game %>
<%# end %>



    <%= render "players" %>


</div>






<template id="scores-template">
  <!-- <div id="scoreboard"> -->
    <%= render "players" %>

  <!-- </div> -->

</template>
