
<div class="edit-page-identifier" data-name ="<%= @game.name %>" data-moveid= "0" data-gameid = "<%= @game.id %>" data-playername= "<%= current_user.username %>"  data-userid= "<%= current_user.id %>" data-playerid = "<%= @player.id %>"  >

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">

        <button id="close-modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<%#= @game.remaining_letters %>
<% if @player.completed %>

<% else %>
<div id="dashboard" class="pr-0 dashboard dashboard-hide" data-current = "<%= @game.current_player %>" data-animate-out="animate-slide-left" id="dashboard" data-name ="<%= @game.name %>" data-id ="<%= @game.id %>" data-url ="games/<%= @game.id %>/edit" data-remaining = "<%= @game.remaining_letters %>" data-jokers =  "<%= @game.jokers %>" data-completed =  "<%= @player.completed %>">
     <div id="scores-buttons">

    <!-- <div data-controller="online-list" data-online-list-sound="insistentHarp.mp3"> -->
      <%= audio_tag "m1", id: "btnAudio" %>
      <!-- <button data-action="online-list#playSound" data-online-list-target="trigger" >Play</button> -->
    <!-- </div> -->

    <div id="controls">
      <%#= turbo_frame_tag "edit_form_tag" %>
        <%= render 'edit_form', game:@game %>
      <%# end %>




      <div id = "buttons">
        <button id='commit-btn' class="commit-btn button-disabled"><i class="fas fa-check"></i></button>
        <button id='cancel-btn' class="cancel-btn button-disabled"><i class="fas fa-ban"></i></button>
        <button id='exchange-btn' class="exchange-btn button-disabled"><i class="fas fa-exchange-alt"></i></button>
       <button id='end-btn' class="end-btn "><i class="fas fa-hand-paper"></i></button>
      </div>

    </div>
  </div>

<% end %>



      <% players  = Player.where(game_id: @game.id).order(:id) %>

      <% players.each_with_index do | player, index | %>
        <% name_score_classes = "name-score" %>
        <% player_classes = "player" %>
        <% if player.user == current_user %>
           <% player_classes.concat(" this-user") %>
        <% end %>
        <% if  @game.current_player == index %>
          <% name_score_classes.concat(" player-selected") %>
        <% end %>

      <% end %>

    <% players.each do | player | %>
      <% if player.user == current_user %>
        <div id="my-letters" data-player-letters = "<%= player.player_letters %>">

        </div>
      <% end %>
    <% end %>

  </div>


  <%= render "board", game:@game %>


    <%= render "scoreboard" %>


</div>


  <div id="messages" class = "messages" data-game-id=<%= @game.id %>>
      <%#= render 'message'  %>
    </div>


<div id = "challenge" class="challenge">
  <div id= "challenge-body" class="challenge-body">
    <div class="challenge-info"></div>
    <div class="challenge-footer">
      <div>Do you want to challenge?</div>
      <div id="challenge-btn" class="challenge-btn">Yes, I call BS.</div>
      <div id="accept-btn" class="challenge-btn">No, I buy it.</div>
    </div>
  </div>
</div>



<div id = "confirmation" class="challenge">
  <div id= "confirmation-body" class="challenge-body challenge-body-narrow">
    <div id="confirmation-info" class="challenge-info"></div>
    <div class="challenge-footer">
      <div id="confirmation-btn" class="challenge-btn">OK</div>
    </div>
  </div>
</div>





<template id="scores-template">
  <!-- <div id="scoreboard"> -->
    <%#= render "players" %>

  <!-- </div> -->

</template>
