<div class="p-4 your-games">

  <div class="cards justify-content-between" >
    <%= link_to new_game_path do %>
      <div class="card m-2 p-3 d-flex justify-content-center align-items-center">
        <i class="fas fa-plus-circle add-new-card"> </i>
      </div>
    <% end %>



<% @games.each_with_index do  | game, index | %>
  <div class="card m-2 p-3 d-flex justify-space-between stored-game" data-players="<%= game.players %>" >
      <% status = game.completed ? "Completed" : "In progress" %>
      <% if game.completed %>
        <%= link_to game_path(game) do %>
         <div><%= game.name %></div>
        <% end %>
      <% else %>
        <%= link_to edit_game_path(game) do %>
         <div><%= game.name %> </div>
        <% end %>

      <% end %>
      <div class="players">  </div>
         <div class="status"> <%= status %></div>
  </div>
<% end %>
</div>

</div>
