<div class="bg index-page-identifier">

<turbo-stream action="prepend" target="my-games">
  <template>
    <!-- <div id="my-game-1">
      This div will be prepended to the element with the DOM ID "my_games".
    </div> -->
  </template>
</turbo-stream>



<div id="your-games" class="px-4 pb-3 pt-1 your-games-hide" data-animate-out="animate-slide-right" data-id= "<%= current_user.id %>" data-username= "<%= current_user.username %>">
<%#= current_user.username %>
<%#= turbo_stream_from @games %>
  <div id="my-games" class="cards justify-content-between" >
    <%= link_to new_game_path do %>
      <div class="card m-2 p-3 d-flex justify-content-center align-items-center plus-sign">
        <i class="fas fa-plus-circle add-new-card"> </i>
      </div>
    <% end %>

    <% ordered_games = @games.order(updated_at: :desc) %>
    <%  my_games = [] %>
    <%  ordered_games.each do |game| %>
      <%  my_games << game %>
    <%  end %>
    <% my_games.each_with_index do  | game, index | %>
      <% name_string = "" %>
      <% my_game = false %>
      <% players = Player.where(game: game).order(:updated_at) %>
      <% ordered = players.reorder(player_score: :desc) %>
      <% winner  = ordered[0] if game.completed %>
      <% status = game.completed ? "Completed" : "Updated" %>
      <% players_quit_arr = [] %>

      <% players.each_with_index do | plr, ind | %>
        <% players_quit_arr << ind if plr.completed %>
        <% if plr.user == current_user %>
          <% my_game = true %>
          <% name_string.concat("You") %>
        <% else %>
          <% name_string.concat(plr.user.username)  %>
        <% end %>
        <% name_string.concat(", ") if ind < players.length - 1 %>
      <% end %>


      <% if my_game == true %>

              <% ago = time_ago_in_words(game.updated_at)
              .sub("and", "")
              .sub(" years", "y")
              .sub(" year", "y")
              .sub(" months", "M")
              .sub(" month", "M")
              .sub(" weeks", "w")
              .sub(" week", "w")
              .sub(" days", "d")
              .sub(" day", "d")
              .sub(" hours", "h")
              .sub(" hour", "h")
              .sub(" minutes", "m")
              .sub(" minute", "m")
              .sub(" seconds", "s")
              .sub("a ", "1")
              .gsub(",", "") %>
        <% if game.completed %>
          <%= link_to game_path(game) do %>
            <div class="card m-2 stored-game stored-game-completed" data-names="<%= name_string %>" >
               <div class= 'card-name name-completed'> <%= game.name %></div>
                <div class = 'name-players d-flex justify-content-between w-100'>
               <div class="players players-completed">


                  <div class="index-players-text index-players-text-completed">Players</div>


                  <span class="index-avatars">
                  <% name_string.split(",").each_with_index do | player_name, i | %>
                  <% name_to_check = player_name %>
                  <% if name_to_check.strip == "You" %>
                    <% name_to_check = current_user.username %>
                  <% end %>

                    <% av = players[i].user.avatar %>
                      <% player_score = 0 %>
                      <% player_moves = Move.where(player: players[i]) %>
                      <% player_moves.each do |move| %>
                        <% player_score +=  move.added_score  %>
                      <% end %>
                      <% sc = player_score.to_s + " " + ("point".pluralize(player_score)) %>
                    <div data-username="<%= players[i].user.username %>" data-score ="<%= sc %>"  >
                      <%  if av.attached?  %>
                      <%= image_tag av, class:'avatar avatar-index' %>
                      <% else %>
                      <%= image_tag 'snufkin', class:'avatar avatar-index' %>
                      <% end %>
                    </div>
                <% end %>
              </span>
              </div>
            </div>
            <div class="status status-completed"><%= status %> <%=ago %> ago</div>

            </div>
          <% end %>

        <% else %> <!--  game in progress -->
        <% remaining_tiles = 0 %>
          <% players.each do | plr | %>
            <% remaining_tiles += plr.player_letters.length %>
          <% end %>
          <% remain_stripped =  game.remaining_letters.gsub(",", "")%>
          <% remaining_tiles += remain_stripped.length %>
          <%= link_to edit_game_path(game) do %>
            <div class="card m-2 stored-game" data-names="<%= name_string %>" >
                <div class= 'card-name'> <%= game.name %> </div>

              <div class = 'name-players d-flex justify-content-between w-100'>

                <div class="players" data-current="<%= game.current_player %>">
                  <div class="index-players-text">Up next</div>
                  <div class="index-avatars">
                    <% name_string.split(",").each_with_index do | player_name, i | %>
                      <% av = players[i].user.avatar %>

                      <% player_score = 0 %>
                      <% player_moves = Move.where(player: players[i]) %>
                      <% player_moves.each do |move| %>
                      <% if move.added_score %>
                        <% player_score +=  move.added_score  %>
                        <% end %>
                      <% end %>
                      <% sc = player_score.to_s + " " + ("point".pluralize(player_score)) %>

                      <% quit_class = players_quit_arr.include?(i) ?  "player-quit" : "" %>


                      <div class="index-avatar <%= quit_class %>" data-username="<%= players[i].user.username %>"  data-score ="<%= sc %>" >
                        <%  if av.attached?  %>
                          <%= image_tag av, class:'avatar avatar-index' %>
                        <% else %>
                          <%= image_tag 'snufkin', class:'avatar avatar-index' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                  <div class="remaining d-flex align-items-center">
                  <div class="tile-index"><div class="letter-index"></div></div>
                  <span class="tiles-remaining"><%= remaining_tiles %></span>
              </div>

              <div class="status"><%= status %> <%= ago %> ago</div>
              </div>
           </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>


</div>
