<div class="bg">
<div id="your-games" class="px-4 pb-3 pt-1 your-games-hide" data-animate-out="animate-slide-right" data-username= "<%= current_user.username %>">

  <h5 class='pt-2 pl-2'>My Games</h5>

  <div class="cards justify-content-between" >
    <%= link_to new_game_path do %>
      <div class="card m-2 p-3 d-flex justify-content-center align-items-center plus-sign">
        <i class="fas fa-plus-circle add-new-card"> </i>
      </div>
    <% end %>

    <% ordered_games = @games.order(updated_at: :desc) %>
    <% ordered_games.each_with_index do  | game, index | %>
      <% name_string = "" %>
      <% my_game = false %>
      <% players = Player.where(game: game) %>
      <% players.each_with_index do | plr, ind | %>

      <% if plr.user == current_user %>
        <% my_game = true %>
        <% name_string.concat("You") %>
        <% else %>
        <% name_string.concat(plr.user.username)  %>
      <% end %>
      <% name_string.concat(", ") if ind < players.length - 1 %>
      <% end %>

       <% if my_game == true %>
        <% status = game.completed ? "Completed" : "Updated" %>
        <%= link_to edit_game_path(game) do %>
          <div class="card m-2 px-2 py-1 stored-game" data-names="<%= name_string %>" >
          <div class = 'name-players d-flex justify-content-between w-100'>
            <div class= 'card-name'> <%= game.name %></div>
          <div class="players" data-current="<%= game.current_player %>">
            <% name_string.split(",").each do | player | %>
              <div><%= player %> </div>
            <% end %>
          </div>
          </div>
            <div class="status"><%= status %> <%= game.updated_at.strftime("%b %d, %Y %-I:%M%p") %></div>
         </div>
      <% end %>
    <% end %>
  <% end %>
  </div>

</div>


</div>
