<div class="bg">
<div id="your-games" class="px-4 pb-3 pt-1 your-games-hide" data-animate-out="animate-slide-right" data-username= "<%= current_user.username %>">



  <div class="cards justify-content-between" >
    <%= link_to new_game_path do %>
      <div class="card m-2 p-3 d-flex justify-content-center align-items-center plus-sign">
        <i class="fas fa-plus-circle add-new-card"> </i>
      </div>
    <% end %>


    <% @games.each_with_index do  | game, index | %>

      <% name_string = "" %>
      <% my_game = false %>

      <% players = Player.where(game: game) %>
      <% players.each_with_index do | plr, ind | %>

      <% if plr.user == current_user %>
        <% my_game = true %>
        <% name_string.concat("You") %>
        <% else %>
        <% name_string.concat(plr.user.username)  %>
      <% end %>
      <% name_string.concat(", ") if ind < players.length - 1 %>
      <% end %>

       <% if my_game == true %>
        <% status = game.completed ? "Completed" : "In progress" %>

        <%= link_to edit_game_path(game) do %>

          <div class="card m-2 px-3 py-2 d-flex flex-column justify-space-between stored-game" data-names="<%= name_string %>" >
          <div> <%= game.name %></div>
          <div class="players" data-current="<%= game.current_player %>">
            <%= name_string %>
          </div>
          <div class="status">Updated <%= game.updated_at.strftime("%b %d, %Y %-I:%M%p") %></div>
         </div>




        <% end %>
        <% end %>














        <% end %>

  </div>

</div>


</div>
