<div class="bg">
<div id="your-games" class="px-4 pb-3 pt-1 your-games-hide" data-animate-out="animate-slide-right" data-id= "<%= current_user.id %>" data-username= "<%= current_user.username %>">

  <h5 class='pt-2 pl-2 my-games-head'>My Games</h5>
  <div class="cards justify-content-between" >
    <%= link_to new_game_path do %>
      <div class="card m-2 p-3 d-flex justify-content-center align-items-center plus-sign">
        <i class="fas fa-plus-circle add-new-card"> </i>
      </div>
    <% end %>
    <% ordered_games = @games.order(updated_at: :desc) %>
    <% ordered_games.each_with_index do  | game, index | %>
      <% name_string = "" %>
      <% my_game = false %>
      <% players = Player.where(game: game).order(:id) %>
      <% ordered = players.reorder(player_score: :desc) %>
      <% winner  = ordered[0] if game.completed %>
      <% status = game.completed ? "Completed" : "Updated" %>
      <% players_quit_arr = [] %>

      <% players.each_with_index do | plr, ind | %>
      <% players_quit_arr << ind if plr.completed %>
        <% if plr.user == current_user %>
          <% my_game = true %>
          <% name_string.concat("You") %>
        <% else %>
          <% name_string.concat(plr.user.username)  %>
        <% end %>
        <% name_string.concat(", ") if ind < players.length - 1 %>
      <% end %>

      <% if my_game == true %>
        <% if game.completed %>
          <%= link_to game_path(game) do %>
            <div class="card m-2 stored-game stored-game-completed" data-names="<%= name_string %>" >
              <div class = 'name-players d-flex justify-content-between w-100'>
                <div class= 'card-name name-completed'> <%= game.name %></div>
                <div class="players players-completed">
                  <% name_string.split(",").each_with_index do | player_name, i | %>
                  <% name_to_check = player_name %>
                  <% if name_to_check.strip == "You" %>
                    <% name_to_check = current_user.username %>
                  <% end %>
                  <% if name_to_check.strip == winner.user.username.strip %>
                    <div><i class='fas fa-trophy'></i> <%= player_name %> </div>
                  <% else %>
                    <div> <%= player_name %> </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="status status-completed"><%= status %> <%= time_ago_in_words(game.updated_at) %> ago</div>

            </div>
          <% end %>

        <% else %> <!--  game in progress -->
        <%= link_to edit_game_path(game) do %>
          <div class="card m-2 stored-game" data-names="<%= name_string %>" >
            <div class = 'name-players d-flex justify-content-between w-100'>
              <div class= 'card-name'> <%= game.name %></div>
              <div class="players" data-current="<%= game.current_player %>">
                <% name_string.split(",").each_with_index do | player_name, i | %>
                  <% quit_class = players_quit_arr.include?(i) ?  "player-quit" : "" %>
                  <% if game.current_player == i %>
                    <% arrow_classes = player_name == "You" ? "fas fa-arrow-right fa-arrow-right-pulse" : "fas fa-arrow-right" %>
                    <div><i class="<%= arrow_classes %>"> </i> <%= player_name %> </div>
                  <% else %>
                    <div class=<%= quit_class %>> <%= player_name %> </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="status"><%= status %> <%= time_ago_in_words(game.updated_at) %> ago</div>
         </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </div>

</div>


</div>
