<div class="px-4 pb-3 pt-1 your-games" data-username= "<%= current_user.username %>">



  <div class="cards justify-content-between" >
    <%= link_to new_game_path do %>
      <div class="card m-2 p-3 d-flex justify-content-center align-items-center">
        <i class="fas fa-plus-circle add-new-card"> </i>
      </div>
    <% end %>



<% @games.each_with_index do  | game, index | %>
      <% status = game.completed ? "Completed" : "In progress" %>
      <% if game.completed %>
        <%= link_to game_path(game) do %>
          <div class="card m-2 px-3 py-2 d-flex justify-space-between stored-game" data-players="#{game.players}" >
            <div><%= game.name %></div>
            <div class="players">  </div>
            <div class="status"> <%= status %></div>
           </div>
        <% end %>
      <% else %>

        <%= link_to edit_game_path(game) do %>
          <div class="card m-2 px-3 py-2 d-flex justify-space-between stored-game" data-players="<%= game.players %>" >
            <div><%= game.name %></div>
            <div class="players" data-current="<%= game.current_player %>"></div>
            <div class="status"> <%= status %></div>
           </div>
        <% end %>
      <% end %>
      <% end %>
  </div>

</div>
