<div class="container m-5 w-25 new-page-identifier">
  <h3>Game Name</h3>
  <input type="text" id="game-name" placeholder="A game">
  <h4>Pick 1–3 Opponents</h4>
  <div id="players" data-username = <%= current_user.username %>>
      <% @users.each do | user | %>
      <% if user.username != current_user.username %>
      <div class="opponent d-flex justify-content-between">
        <div class="opponent-name"><%= user.username %></div>
        <div><input type="checkbox"></div>
      </div>
      <% end %>
    <% end %>
    <button id="new-game-btn" class="btn-sm btn-warning">Start New Game</button>


  <% new_grid  = "_ " * 225 %>

   <%= form_for @game do |f| %>
      <%=f.hidden_field :name, value:'A game', id:'new-name' %>
      <%=f.hidden_field :completed, value:false, id:'new-completed' %>
      <%=f.hidden_field :current_player, value:0, id:'new-current' %>
      <%=f.hidden_field :players, value: [
                               { 'name': 'Dave', 'score': '52', 'current_letters': 'RXTFOEB' },
                               { 'name': 'Deike', 'score': '62', 'current_letters': 'LTAUWVQ' },
                               { 'name': 'Luna', 'score': '82', 'current_letters': 'ZHGNIOC' },
                               { 'name': 'Ed', 'score': '79', 'current_letters': 'USYKTER' }
                              ], id:'new-players' %>
       <%=f.hidden_field :letter_grid, value:"#{new_grid}", id:'new-grid' %>
       <%#= f.submit "Commit", class: "btn-sm btn-warning", id: "create-btn" %>
      <% end %>

</div>
