<%= render "modal" %>


<div class="p-2 new-page-identifier" data-default-name ="<%= @default_name %>" data-userid = <%= current_user.id %>>
  <h3 class="pickem">Name your game, or we'll name it for you <span class='new-description'> (possibly an animal, superpower, chemical element, character from Studio Ghibli or <em>The Big Lebowski</em>)</span></h3>
  <input type="text" id="game-name" placeholder="<%= @default_name %>">
  <p class="pickem">Pick 1–3 Opponents:</p>
  <div id="players" data-username = <%= current_user.username %>>
    <% @users.each do | user | %>
      <% if user.username != current_user.username %>
        <div class="opponent-stats">

          <div class="opponent" data-userid = <%= user.id %>>
            <div class="opponent-name" data-email=<%= user.email %>>
              <input type="checkbox">
              <%= user.username %>
            </div>


          <% my_comp_games = 0 %>
          <% my_total_score = 0 %>
          <% my_high_score = 0 %>
          <% duration_array = [] %>
          <% all_comp_games = Game.where(completed: true) %>
          <% all_comp_games.each do | cg | %>
          <% if cg.users.include? user %>
              <% duration_array << [cg.updated_at, cg.created_at] %>
              <% my_player =  Player.find_by(game: cg, user: user) %>


              <% player_score = 0 %>
              <% player_moves = Move.where(player: my_player) %>
              <% player_moves.each do |move| %>
                <% player_score +=  move.added_score  %>
              <% end %>

              <% my_total_score += player_score  %>
              <% my_high_score = player_score if player_score > my_high_score %>

              <% my_comp_games = my_comp_games + 1 %>
            <% end %>
          <% end %>

          <% unsorted_dur = duration_array.map do |dur| %>
            <% dur[0] - dur[1] %>
          <% end %>

          <% sorted_dur = unsorted_dur.sort() %>
          <% my_short_game  = sorted_dur[0] %>
          <% my_long_game = sorted_dur.reverse[0] %>


          <% if my_comp_games > 0 %>
            <% my_avg = (my_total_score / my_comp_games).to_i %>

            <div class="toggle-stats">
              <span class='stats-label'>stats </span> <i class="fas fa-arrow-circle-down stats-btn"></i>
            </div>
          </div>


          <div class="stats-mask">
              <div class='stats'>
               <div class = 'stats-text'>Completed Games <span class='stats-num'><%= my_comp_games %></span></div>
               <div class = 'stats-text'>Average Score <span class='stats-num'><%= my_avg %></span></div>
               <div class = 'stats-text'>High Score <span class='stats-num'><%= my_high_score %></span></div>
              </div>


          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="btn-container">
    <button id="new-game-btn">Create New Game</button>

  </div>
  <% new_grid  = "_ " * 225 %>

  <%= form_with(model: @game, id: 'new-game', method:'POST', action: games_path) do |f| %>
    <%#= f.hidden_field :players, id:"players" %>
    <%=f.hidden_field :name, value:'A game', id:'new-name' %>
    <%=f.hidden_field :completed, value:false, id:'new-completed' %>
    <%=f.hidden_field :current_player, value:0, id:'new-current' %>
    <%=f.hidden_field :letter_grid, value:"#{new_grid}", id:'new-grid' %>
    <%=f.hidden_field :opponents, value:[], id:'new-opponents' %>
    <%=f.hidden_field :all_player_letters, value:[], id:'new-player-letters' %>
    <%=f.hidden_field :remaining_letters, value: 'ABCDEFG', id:'new-remaining' %>
    <%#= f.check_box :opponents, @users %>
  <% end %>

</div>
