<div class="show-page-identifier" data-name="<%= @game.name %>" data-winner=<%= @winner %> >
  <div id="show-dashboard">
    <div id="last">
      <strong>Completed</strong><br/> <%= @date %>
    </div>
    <div class="show-scores">
      <%  @players.each do |player| %>
      <div class="show-name-score">
        <div class="show-name"> <%= player.user.username %></div>
        <div class="show-score"><%= player.player_score %></div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="board" data-letter-grid="<%= @game.letter_grid %>"  data-jokers="<%= @game.jokers %>" >
</div>
