<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Baloo+Chettan+2:wght@500&family=Bowlby+One+SC&family=Grandstander:wght@500&family=Ranchers&family=Special+Elite&family=Yeon+Sung&family=Yeseva+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Josefin+Sans:wght@500&family=M+PLUS+1+Code&family=Roboto&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"></style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat:wght@600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,700&family=Courgette&family=Josefin+Sans:wght@500&family=M+PLUS+1+Code&family=Permanent+Marker&family=Roboto&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6b106bf02b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Scrooble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>
  <%  %>
  <body>
    <!-- <div class="bg"> -->

    <%#= link_to "/" do %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    <%# end %>
      <%#= render partial: 'logo' %>
    <%#= render 'flashes' %>
       <% if user_signed_in? %>
      <div>
        <%= select_tag "theme", options_for_select([ "Desert", "Underwater", 'Spy', 'Candy' ], current_user.current_theme.capitalize()), id:'select-theme' %>
      </div>
      <% end %>
    <%= yield %>


    <!-- </div> -->
  </body>
</html>
