<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Baloo+Chettan+2:wght@500&family=Bowlby+One+SC&family=Grandstander:wght@500&family=Ranchers&family=Special+Elite&family=Yeon+Sung&family=Yeseva+One&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6b106bf02b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Scrooble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <div class = 'crawl-start' >Support democracy in the US
      <%= link_to "BVM", "https://blackvotersmatterfund.org/", target: :_blank %>
     </div>

    <%#= link_to "/" do %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    <%# end %>
      <%#= render partial: 'logo' %>
    <%#= render 'flashes' %>

    <%= yield %>
  </body>
</html>
